body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  height: 70px;
}

.logo {
  color: var(--primary);
  font-size: 1rem;
  font-family: var(--ff-accent);
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: #fff;
  font-size: 30px;
}

@media (max-width: 600px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;

    gap: 0;
    overflow: hidden;
  }
  nav ul li {
    padding: 20px;
    padding-top: 0;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    transition: all 0.5s;
  }
}

/* button style */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
button:hover {
  color: var(--primary);
}
